
/*   * {
    border: 1px solid orange;
}  */

body {
    /*background-image: url("../images/shoplight.jpg");
    background-size: 100%;
    background attachment: fixed;
    background position: center;
    /* border: 3px solid black; */
    font-family: 'Open Sans', sans-serif;
}

.instructionContainer, .outer-container {
 width: 425px;
 height: 100px;
}
 
.outer-container {
 /* border: 5px solid purple; */
 position: relative;
 overflow: hidden;
 position: absolute;
 right: 0;
 top: 0;
}
 
.inner-container::-webkit-scrollbar {
 display: none;
}

.inner-container {
 position: absolute;
 left: 0;
 overflow-x: hidden;
 overflow-y: hidden;
}

.instructionContainer {
  position: relative;
  /* height:1px; */
} 

.instructions {
  font-weight: bold;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
  background-color: lightblue;
  right: 0;
  opacity: .65;
  position: absolute;
  overflow: hidden;
}

.title {
    text-align: center;
    font-size: 3em;
    color:#49aace;
}

h1 {font-weight:normal!important;}

.container {
    text-align: center;
}

.additems {

}

.instructions-content {
    display: inline;
    clear:both;
    color: #788a91;
}

#groceries {
    background: #f6f8f7 url(../images/search.png) 5% 50% no-repeat;
    border: 1px solid #c2c7cc;
    box-shadow: none;
    height: 32px;
    font-size: 14px;
    padding: 4px 3px 3px 38px;
    width: 200px;
    line-height: 1.2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


#addbutton {
    border: none;
    background-color: white;
    color: #49aace;
    font-size: 1.3em;
    cursor:pointer;
}

#addbutton:hover {color:#c2c7cc;}

/* .space {
    height: 25px;
} */ 

.items {
    display: inline;
    text-align: center;
    font-size: 1.5em;
}

.unchecked {
    /*position: relative;*/
    /* height: 50px;*/
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
}

.checked {
    text-decoration: line-through;
    list-style-type: none;
    font-weight: bold;
}

.notbought {
    /* display: inline; */
    list-style-type: none;
    font-weight: bold;
}

#checkbox {
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

#foods {
    font-weight: bold;
}

#delete {
    /* position: absolute; */
    vertical-align: middle;
    background-color: lightblue;
    border-radius: 5px;
    border-color: gray;
    font-size: .5em;
    margin-left: 20px;
}

#clearall {
    display: block;
    text-align: center;
    font-size: 0.8em;
    margin: 0 auto;
    opacity: .85;
    border: none;
    background-color: white;
    color:#49aace;
    cursor:pointer;
}

#clearall:hover{color:#c2c7cc;}

footer {
    font-size: .75em;
    bottom: 0;
    left: 0;
    position: fixed;
}